header {
    background-color: white;
    clear: both;
}

body {
    background-color: grey;
    text-align: center;
}

nav {
    background-color: white;
    position: sticky;
    top: 0px;

}

section {
    background-color: white;
    padding: 25px;
    margin: 5px;
    margin-left: 25px;
    width: 100%;
}

.left {
    float: left;
    width: 50%;
}

aside {
    background-color: white;
    padding: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin: 5px;
    margin-right: 25px;
    height: 400px;
    width: 33%;
}

article {
    background-color: white;
    padding: 25px;
    margin: 5px;
    margin-left: 25px;
    height: 200px;
    width: 100%;
}

.right {
    float: right;
    width: 35%;
}

footer {
    background-color: white;
    clear: both;
}





ul {
    text-align: center;
    list-style-type: none;
}

li {
    float: left;
    padding: 20px;
    background-color: darkgrey;
    width: 28%;
}

div {
    clear: both;
}
