@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Newsreader:ital,wght@0,200;1,300&family=Playfair+Display:ital@0;1&display=swap');

header {
    border: 2px groove rgb(227, 160, 22);
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 100px;
    text-align: left;
    clear: both;
}

body {
    background-color:rgb(255, 232, 192);
    text-align: center;
}

nav {
    position: sticky;
    top: 0px;
    color: white;
    width: 100%;
    background-color: aqua;
}

section {
    background-color:rgb(161, 96, 38) ;
    padding: 25px;
    margin: 25px;
    width: 100%;
}

.left {
    float: left;
    width: 50%;
}

aside {
    background-color:rgb(161, 96, 38) ;
    padding: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin: 25px;
    height: fit-content;
    width: 33%;
}

article {
    background-color:rgb(161, 96, 38) ;
    padding: 25px;
    margin: 25px;
    height: fit-content;
    width: 100%;
}

.right {
    float: right;
    width: 35%;
}

footer {
    background-color: rgb(0, 25, 48);
    clear: both;
    height: 200px;
    width: 100%;
    
}

.fa {
    padding: 20px;
}


/* nav info */
ul {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin-left: 3%;
}

li {
    float: left;
    padding: 20px;
    background-color: rgb(0, 25, 48);
    width: 26%; 
    color: white;
    text-decoration: none;
}

div {
    clear: both;
}

a  {
    color: rgb(227, 160, 22);
    text-decoration: none;
    font-size: 20px;
    font-family: 'newsreader', serif;
}

a:hover {
    color:rgb(69, 76, 26) ;
}


/* images info*/
#creatorpic {
    height: 80px;
    float: left;
}

.itemimages {
    height: 200px;
    padding: 9px;
    margin: 5px;
    border: groove 1px rgb(255, 232, 192);
}

#navlogo {
    height: 100px;
    float: left;
    vertical-align: middle;
    padding: 25px;
}

#heroimg {
    height: 400px;
    background-image: url(../PhotoFolder/IMG-4707.jpg);
    background-size: cover;
}

/* font fixing */
h1 {
    font-size: 50px;
    font-family: 'playfair display', serif;
    color: rgb(255, 232, 192);
    text-shadow: 4px 0px rgb(0, 25, 48);
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#header2 {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    text-shadow: 3px 0px rgb(0, 25, 48);
}

h2 {
    font-size: 30px;
    font-family: 'antic slab', serif;
    color: rgb(255, 232, 192);
}

h3 {
    font-size: 20px;
    margin: 10px;
    padding-top: 40px;
}

p {
    font-size: 20px;
    font-family: 'Newsreader', serif
    color: rgb(255, 232, 192);
}



/* colors:
    rgb(255, 232, 192) -light tan
    rgb(227, 160, 22) -burnt yellow
    rgb(161, 96, 38) -orangey brown
    rgb(69, 76, 26) -dark brownish green
    rgb(0, 25, 48) -accent dark navy
 */