header {
    border: 2px groove rgb(227, 160, 22);
    height: 150px;
    margin-left: 25px;
    margin-right: 25px;
    clear: both;
    background-image: url(https://live.staticflickr.com/2233/2234937811_4a74d9eba8_b.jpg) alt="Hand Craft";
}

body {
    background-color:rgb(255, 232, 192);
    text-align: center;
}

nav {
    position: sticky;
    top: 0px;
    color: white;
    width: 100%;
    background-color: aqua;
}

section {
    background-color:rgb(161, 96, 38) ;
    padding: 25px;
    margin: 25px;
    width: 100%;
}

.left {
    float: left;
    width: 50%;
}

aside {
    background-color:rgb(161, 96, 38) ;
    padding: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    margin: 25px;
    height: 400px;
    width: 33%;
}

article {
    background-color:rgb(161, 96, 38) ;
    padding: 25px;
    margin: 25px;
    height: fit-content;
    width: 100%;
}

.right {
    float: right;
    width: 35%;
}

footer {
    background-color: rgb(0, 25, 48);
    clear: both;
    height: 200px;
    width: 100%;
    
}

.fa {
    padding: 20px;
}


/* nav info */
ul {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin-left: 3%;
}

li {
    float: left;
    padding: 20px;
    background-color: rgb(0, 25, 48);
    width: 26%; 
    color: white;
    text-decoration: none;
}

div {
    clear: both;
}

a  {
    color: rgb(227, 160, 22);
    text-decoration: none;
}

a:hover {
    color:rgb(69, 76, 26) ;
}


/* images info*/
#creatorpic {
    height: 80px;
    float: left;
}

.itemimages {
    height: 200px;
    padding: 9px;
    margin: 5px;
    border: groove 1px rgb(255, 232, 192);
}

#navlogo {
    height: 100px;
    float: left;
    vertical-align: middle;
    padding: 25px;
}

/* font fixing */
h1 {
    font: 500px;
}

h2 {

}

h3 {
    font: 20px;
    margin: 10px;
    padding-top: 40px;
}



/* colors:
    rgb(255, 232, 192) -light tan
    rgb(227, 160, 22) -burnt yellow
    rgb(161, 96, 38) -orangey brown
    rgb(69, 76, 26) -dark brownish green
    rgb(0, 25, 48) -accent dark navy
 */